@import "../../styles/settings.scss";

.nav {
	background-color: darken($color-dark, 3%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.ul {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	list-style: none;
  margin-right: 30px;
}

.li {
	margin-right: 15px;
}

.link {
	text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
	font-family: $font-text;
	color: $color-light;
}

.logo {
	background-color: transparent;
  font-size: 24px;
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.linkActive{
	color: $color-warning;
}